# http://editorconfig.org/

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.go]
indent_style = tab

[*.{js, jsx, ts, tsx, json, html}]
indent_style = space
indent_size = 4

[package*.json,.eslintrc.json,.prettierrc,.stylelintrc.json,babel.config.js,tsconfig.json,webpack.config.js]
indent_size = 2
indent_style = space

[{Makefile, *.mk}]
indent_style = tab

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
