# http://editorconfig.org/

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.go]
indent_style = tab

[*.{js, jsx, ts, tsx, json, html}]
indent_style = space
indent_size = 4

[webapp/package*.json, webapp/.eslintrc.json, webapp/.prettierrc, webapp/.stylelintrc.json, webapp/babel.config.js, webapp/tsconfig.json, webapp/webpack.config.js]
indent_size = 2
indent_style = space

[{Makefile, *.mk}]
indent_style = tab

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
