.FullScreenModal .close-x:focus,
.FullScreenModal .collabora-action-button:focus {
    outline: 0;
}

.FullScreenModal .close-x svg {
    fill: #626262;
}

.FullScreenModal .collabora-action-button {
    color: #626262 !important;
}

.FullScreenModal .collabora-action-button:hover {
    background-color: #e4e4e4;
}

.FullScreenModal .collabora-action-button:active {
    background-color: #c4ccce;
    /*border: 1px solid #37768e;*/
}

.FullScreenModal .collabora-action-button i.fa {
    margin-right: 0;
}

.wopi-iframe-container {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    background: #f6f6f6;
    border-top: none;
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}

.wopi-iframe {
    height: calc(100vh - 69px);
    width: calc(90vw - 5px);
    border: none;
}

.FullScreenModal .wopi-iframe {
    width: calc(100vw - 5px);
}

.wopi-loading-spinner {
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 64px);
}

.wopi-error {
    font-size: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 140px;
    height: calc(100% - 64px);
}

.wopi-error-icon {
    margin: 1em;
    font-size: xxx-large;
}
